CREATE TABLE IF NOT EXISTS public.profiles (id UUID REFERENCES auth.users ON DELETE CASCADE PRIMARY KEY, name TEXT NOT NULL, roll_number TEXT NOT NULL, semester TEXT NOT NULL, department TEXT NOT NULL, institute_name TEXT NOT NULL, avatar_url TEXT, created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::TEXT, NOW()) NOT NULL, updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::TEXT, NOW()) NOT NULL);
