-- SQL script for purchase_requests table

create table public.purchase_requests (
  id uuid not null default extensions.uuid_generate_v4 (),
  book_id uuid not null,
  buyer_id uuid not null,
  seller_id uuid not null,
  meetup_date timestamp with time zone not null,
  meetup_location text not null,
  proposed_price numeric(10, 2) not null,
  message text null,
  status text not null default 'pending'::text,
  created_at timestamp with time zone null default now(),
  updated_at timestamp with time zone null default now(),
  constraint purchase_requests_pkey primary key (id),
  constraint purchase_requests_book_id_fkey foreign KEY (book_id) references books (id) on delete CASCADE,
  constraint purchase_requests_buyer_id_fkey foreign KEY (buyer_id) references auth.users (id) on delete CASCADE,
  constraint purchase_requests_seller_id_fkey foreign KEY (seller_id) references auth.users (id) on delete CASCADE,
  constraint purchase_requests_status_check check (
    (
      status = any (
        array[
          'pending'::text,
          'accepted'::text,
          'rejected'::text
        ]
      )
    )
  )
) TABLESPACE pg_default;

create index IF not exists idx_purchase_requests_buyer_id on public.purchase_requests using btree (buyer_id) TABLESPACE pg_default;

create index IF not exists idx_purchase_requests_seller_id on public.purchase_requests using btree (seller_id) TABLESPACE pg_default;

create index IF not exists idx_purchase_requests_book_id on public.purchase_requests using btree (book_id) TABLESPACE pg_default;

create index IF not exists idx_purchase_requests_status on public.purchase_requests using btree (status) TABLESPACE pg_default;

create trigger purchase_request_to_message
after INSERT on purchase_requests for EACH row
execute FUNCTION create_message_from_purchase_request ();

create trigger purchase_request_update_message
after
update on purchase_requests for EACH row when (old.status is distinct from new.status)
execute FUNCTION update_message_for_purchase_request ();

create trigger set_purchase_requests_updated_at BEFORE
update on purchase_requests for EACH row
execute FUNCTION handle_updated_at ();
