-- SQL commands for your Supabase project

-- 1. Drop the existing profiles table if it exists
DROP TABLE IF EXISTS public.profiles;

-- 2. Create the profiles table with all necessary fields
CREATE TABLE public.profiles (
    -- Primary key and auth user link
    id UUID REFERENCES auth.users ON DELETE CASCADE PRIMARY KEY,
    
    -- User information fields (matching your form)
    name TEXT NOT NULL,                    -- নাম
    roll_number TEXT NOT NULL,             -- রোল নাম্বার
    semester TEXT NOT NULL,                -- সেমিস্টার
    department TEXT NOT NULL,              -- বিভাগ
    institute_name TEXT NOT NULL,          -- প্রতিষ্ঠান
    
    -- Optional fields for future use
    avatar_url TEXT,                       -- প্রোফাইল ছবি (optional)
    
    -- Timestamps
    created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::TEXT, NOW()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::TEXT, NOW()) NOT NULL
);

-- 3. Enable Row Level Security
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

-- 4. Create RLS policies

-- Anyone can view profiles (for public display)
CREATE POLICY "Public profiles are viewable by everyone"
    ON public.profiles FOR SELECT
    USING (TRUE);

-- Only authenticated users can insert their own profile
CREATE POLICY "Users can insert their own profile"
    ON public.profiles FOR INSERT
    WITH CHECK (auth.uid() = id);

-- Users can only update their own profile
CREATE POLICY "Users can update their own profile"
    ON public.profiles FOR UPDATE
    USING (auth.uid() = id);

-- 5. Create updated_at trigger
CREATE OR REPLACE FUNCTION public.handle_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER handle_updated_at
    BEFORE UPDATE ON public.profiles
    FOR EACH ROW
    EXECUTE PROCEDURE public.handle_updated_at();

-- 6. Create a more permissive policy for testing (TEMPORARY)
-- This allows anyone to insert profiles, even if not authenticated
-- IMPORTANT: Remove this in production!
CREATE POLICY "Allow all profile inserts for testing"
    ON public.profiles FOR INSERT
    WITH CHECK (TRUE);

-- 7. Auto-confirm all user emails (for existing users)
-- This marks all existing users as having confirmed emails
UPDATE auth.users
SET email_confirmed_at = COALESCE(email_confirmed_at, NOW())
WHERE email_confirmed_at IS NULL;

-- 8. Create books table for selling books
CREATE TABLE IF NOT EXISTS public.books (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT NOT NULL,
    description TEXT,
    condition TEXT NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    image_url TEXT,
    seller_id UUID REFERENCES public.profiles(id) NOT NULL,
    status TEXT DEFAULT 'available' NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::TEXT, NOW()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::TEXT, NOW()) NOT NULL
);

-- Enable RLS on books table
ALTER TABLE public.books ENABLE ROW LEVEL SECURITY;

-- Books are viewable by everyone
CREATE POLICY "Books are viewable by everyone"
    ON public.books FOR SELECT
    USING (TRUE);

-- Users can insert their own books
CREATE POLICY "Users can insert their own books"
    ON public.books FOR INSERT
    WITH CHECK (auth.uid() = seller_id);

-- Users can update their own books
CREATE POLICY "Users can update their own books"
    ON public.books FOR UPDATE
    USING (auth.uid() = seller_id);

-- Users can delete their own books
CREATE POLICY "Users can delete their own books"
    ON public.books FOR DELETE
    USING (auth.uid() = seller_id);

-- Create trigger for books updated_at
CREATE TRIGGER handle_books_updated_at
    BEFORE UPDATE ON public.books
    FOR EACH ROW
    EXECUTE PROCEDURE public.handle_updated_at();

-- 9. Create messages table for user communication
CREATE TABLE IF NOT EXISTS public.messages (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    sender_id UUID REFERENCES public.profiles(id) NOT NULL,
    receiver_id UUID REFERENCES public.profiles(id) NOT NULL,
    book_id UUID REFERENCES public.books(id),
    content TEXT NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::TEXT, NOW()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::TEXT, NOW()) NOT NULL
);

-- Enable RLS on messages table
ALTER TABLE public.messages ENABLE ROW LEVEL SECURITY;

-- Users can view their own messages
CREATE POLICY "Users can view their own messages"
    ON public.messages FOR SELECT
    USING (auth.uid() = sender_id OR auth.uid() = receiver_id);

-- Users can insert messages
CREATE POLICY "Users can insert messages"
    ON public.messages FOR INSERT
    WITH CHECK (auth.uid() = sender_id);

-- Users can update their own messages
CREATE POLICY "Users can update their own messages"
    ON public.messages FOR UPDATE
    USING (auth.uid() = sender_id);

-- Users can delete their own messages
CREATE POLICY "Users can delete their own messages"
    ON public.messages FOR DELETE
    USING (auth.uid() = sender_id);

-- Create trigger for messages updated_at
CREATE TRIGGER handle_messages_updated_at
    BEFORE UPDATE ON public.messages
    FOR EACH ROW
    EXECUTE PROCEDURE public.handle_updated_at();